<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.foxycorp.digifox/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.foxycorp.digifox.view.user/UserListView.title"/>
        <item view="Media.list" title="Media"/>
        <item view="Order_.list" title="msg://com.foxycorp.digifox.view.order/orderListView.title"/>
        <item view="Customer.list" title="msg://com.foxycorp.digifox.view.customer/customerListView.title"/>
        <item view="VCRMaintenance.list" title="msg://com.foxycorp.digifox.view.vcrmaintenance/VCRMaintenanceListView.title"/>
        <item view="StatsView" title="msg://com.foxycorp.digifox.view.stats/statsView.title"/>
    </menu>

</menu-config>