<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu opened="true" id="application" title="msg://com.foxycorp.digifox/menu.application.title">
        <item view="Order_.list" title="msg://com.foxycorp.digifox.view.order/orderListView.title"
              icon="lumo:unordered-list"/>
        <item view="Customer.list" title="msg://com.foxycorp.digifox.view.customer/customerListView.title"
              icon="vaadin:group"/>
        <item view="VCRMaintenance.list"
              title="msg://com.foxycorp.digifox.view.vcrmaintenance/VCRMaintenanceListView.title" icon="vaadin:wrench"/>
        <item view="StatsView" title="msg://com.foxycorp.digifox.view.stats/statsView.title"
              icon="vaadin:pie-bar-chart"/>
    </menu>
</menu-config>